.BigText {
    text-align: center;
    margin-bottom: 0;
    font-size: 2rem;
}

.SmallText {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
}

.TimeText {
    text-align: center;
    color: #29abe2;
    text-shadow: 1px 1px #12aea1;
    font-size: 2rem;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}

.HintText {
    vertical-align: super;
    font-size: 0.5rem;
}

.ButtonWrapper {
    margin-top: 5px;
    text-align: center;
}

.CreateButton {
    font-size: 1.5rem;
    background-color: #29abe2;
    border-radius: 5px;
}

.DeleteButton {
    font-size: 1.5rem;
    background-color: salmon;
    border-radius: 5px;
}

.WorkerMapContainer {
    width: 100vw;
}