<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/main.html :: headerfiles" th:remove="tag">
    <title>KiBe</title>
</head>

<body>
<div th:insert="fragments/main.html :: navigation" th:remove="tag"></div>
<div class="row">
    <div class="col s12 m12 xl10 offset-xl1">
        <h5 th:text="#{users.admins}">Admins</h5>
        <table class="responsive-table striped bordered fixed-table">
            <thead>
            <tr>
                <th th:text="#{users.uuid}" class="hide">uuid</th>
                <th th:text="#{users.name}">name</th>
                <th th:text="#{users.email}">email</th>
                <th th:text="#{users.password}">password</th>
                <th><i class="material-icons row-vertical" th:title="#{icons.delete}">delete_forever</i>&nbsp;<span
                        th:text="#{users.delete}">delete</span>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="admin : ${admins}">
                <td th:text="${admin.getUuid()}" data-role="uuid" class="hide">uuid</td>
                <td><a href="#" th:text="${admin.getName()}"
                       th:data-uuid="${admin.getUuid()}"
                       th:data-name="${admin.getName()}"
                       data-role="name"
                       onclick="editAdminName(this.getAttribute('data-uuid'), this.getAttribute('data-name'))">
                    John Doe</a></td>
                <td><a href="#" th:text="${admin.getEmail()}"
                       th:data-uuid="${admin.getUuid()}"
                       th:data-email="${admin.getEmail()}"
                       data-role="email"
                       onclick="editAdminEmail(this.getAttribute('data-uuid'), this.getAttribute('data-email'))">
                    john.doe@kibe</a>
                </td>
                <td><a href="#" th:text="#{users.change.password}"
                       th:data-uuid="${admin.getUuid()}"
                       data-role="password"
                       onclick="editAdminPassword(this.getAttribute('data-uuid'))">Change password</a>
                </td>
                <td><a href="#"
                       data-role="delete"
                       th:data-uuid="${admin.getUuid()}"
                       onclick="deleteAdmin(this.getAttribute('data-uuid'))">
                    <i class="material-icons row-vertical" th:title="#{icons.delete}">delete_forever</i>&nbsp;
                    <span th:text="#{users.delete}">Delete</span></a></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 xl10 offset-xl1">
        <a href="#create-admin-modal" class="waves-effect waves-light btn modal-trigger">
            <i class="material-icons left">person_add</i>
            <span th:text="#{users.new.admin}" th:remove="tag">Create admin</span>
        </a>
    </div>
</div>
<div class="col s12 m3 modal" id="edit-admin-modal">
    <div class="card-panel modal-content">
        <form action="/updateAdmin" method="post">
            <input type="hidden" id="edit.admin.uuid" name="edit.admin.uuid">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <h5 class="center" th:text="#{edit.admin}">Edit Admin</h5>
            <table>
                <tr id="edit.admin.name.row">
                    <td><label for="edit.admin.name" th:text="#{editor.name}">Name:</label></td>
                    <td><input id="edit.admin.name" name="edit.admin.name"></td>
                </tr>
                <tr id="edit.admin.email.row">
                    <td><label for="edit.admin.email" th:text="#{editor.email}">Email:</label></td>
                    <td><input id="edit.admin.email" name="edit.admin.email"></td>
                </tr>
                <tr id="edit.admin.password.row">
                    <td><label for="edit.admin.password" th:text="#{editor.password}">New password:</label></td>
                    <td><input autocomplete="new-password" id="edit.admin.password" type="password"
                               name="edit.admin.password"></td>
                </tr>
                <tr id="edit.admin.password.confirm.row">
                    <td><label for="edit.admin.password.confirm" th:text="#{editor.password.confirm}">Confirm
                        password:</label></td>
                    <td><input autocomplete="new-password" id="edit.admin.password.confirm" type="password"
                               name="edit.admin.password.confirm"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" th:value="#{editor.save}" class="btn-flat"></td>
                    <td>
                        <a type="submit" class="modal-close waves-effect waves-red btn-flat"
                           onclick="return false;" th:text="#{editor.cancel}">Cancel
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="col s12 m3 modal" id="delete-admin-modal">
    <div class="card-panel modal-content">
        <input type="hidden" id="delete.admin.uuid" name="delete.admin.uuid">
        <h5 class="center" th:text="#{delete.admin}">Delete Admin</h5>
        <table>
            <tr>
                <td><input type="button" onclick="requestRemoval()" th:value="#{users.delete}" value="Submit"
                           class="btn-flat"></td>
                <td>
                    <a type="submit" class="modal-close waves-effect waves-red btn-flat"
                       onclick="return false;" th:text="#{editor.cancel}">Cancel
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col s12 m3 modal" id="create-admin-modal">
    <div class="card-panel modal-content">
        <form action="/createAdmin" method="post">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <h5 class="center" th:text="#{create.admin}">Create Admin</h5>
            <table>
                <tr>
                    <td><label for="create.admin.name" th:text="#{editor.name}">Name:</label></td>
                    <td><input id="create.admin.name" name="create.admin.name"></td>
                </tr>
                <tr>
                    <td><label for="create.admin.email" th:text="#{editor.email}">Email:</label></td>
                    <td><input id="create.admin.email" name="create.admin.email"></td>
                </tr>
                <tr>
                    <td><label for="create.admin.password" th:text="#{editor.password}">New password:</label></td>
                    <td><input autocomplete="new-password" id="create.admin.password" type="password"
                               name="create.admin.password"></td>
                </tr>
                <tr>
                    <td><label for="create.admin.password.confirm" th:text="#{editor.password.confirm}">Confirm
                        password:</label></td>
                    <td><input autocomplete="new-password" id="create.admin.password.confirm" type="password"
                               name="create.admin.password.confirm">
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" th:value="#{editor.create}" class="btn-flat"></td>
                    <td>
                        <a type="submit" class="modal-close waves-effect waves-red btn-flat"
                           onclick="return false;" th:text="#{editor.cancel}">Cancel
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });

    function clearAdminForm() {
        $('#edit\\.admin\\.uuid').val("");

        $('#edit\\.admin\\.name').val("");
        $('#edit\\.admin\\.name\\.row').hide();

        $('#edit\\.admin\\.email').val("");
        $('#edit\\.admin\\.email\\.row').hide();

        $('#edit\\.admin\\.password').val("");
        $('#edit\\.admin\\.password\\.row').hide();

        $('#edit\\.admin\\.password\\.confirm').val("");
        $('#edit\\.admin\\.password\\.confirm\\.row').hide();
    }

    function editAdminName(uuid, oldName) {
        clearAdminForm();
        let modal = $('#edit-admin-modal');
        $('#edit\\.admin\\.name').val(oldName);
        $('#edit\\.admin\\.name\\.row').show();
        $('#edit\\.admin\\.uuid').val(uuid);
        modal.modal();
        modal.modal('open');
    }

    function editAdminEmail(uuid, oldName) {
        clearAdminForm();
        let modal = $('#edit-admin-modal');
        $('#edit\\.admin\\.email').val(oldName);
        $('#edit\\.admin\\.email\\.row').show();
        $('#edit\\.admin\\.uuid').val(uuid);
        modal.modal();
        modal.modal('open');
    }

    function editAdminPassword(uuid) {
        clearAdminForm();
        let modal = $('#edit-admin-modal');
        $('#edit\\.admin\\.password').val("");
        $('#edit\\.admin\\.password\\.row').show();
        $('#edit\\.admin\\.password\\.confirm').val("");
        $('#edit\\.admin\\.password\\.confirm\\.row').show();
        $('#edit\\.admin\\.uuid').val(uuid);
        modal.modal();
        modal.modal('open');
    }

    function deleteAdmin(uuid) {
        let modal = $('#delete-admin-modal');
        $('#delete\\.admin\\.uuid').val(uuid);
        modal.modal();
        modal.modal('open');
    }

    function requestRemoval() {
        $(location).attr('href', "/deleteAdmin/" + $('#delete\\.admin\\.uuid').val());
    }
</script>
</body>
</html>