<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/main.html :: headerfiles" th:remove="tag">
    <title>KiBe</title>
</head>

<body>
<div th:insert="fragments/main.html :: navigation" th:remove="tag"></div>
<div class="container">
<div class="row">
    <div class="col s12 m12 l12">
        <h5 th:text="#{building.administration}">Building administration</h5>
        <form action="/building/capacity" method="get">
            <table>
                <tr>
                    <td><label for="building.capacity" th:text="#{building.total.capacity}"></label></td>
                    <td>
                        <input type="number" id="building.capacity" name="capacity"
                               th:value="${building.getCapacity()}" min="1">
                    </td>
                </tr>
                <tr>
                    <td><label for="building.percentage" th:text="#{building.capacity.percentage}"></label></td>
                    <td>
                        <input type="number" min="0" max="100" id="building.percentage" name="percentage"
                               th:value="${building.getPercentage()*100}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn waves-effect waves-light" type="submit">
                            <span th:text="#{value.set}" th:remove="tag">Set</span>
                            <i class="material-icons left">build</i>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</div>
<script type="text/javascript" th:src="@{js/materialize.min.js}" src="../static/js/materialize.min.js"></script>

</body>
</html>