<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/main.html :: headerfiles" th:remove="tag">
    <title>KiBe</title>
</head>

<body>
<div th:insert="fragments/main.html :: navigation" th:remove="tag"></div>
<div class="container" th:if="${!actingAdmin && adminMode}">
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 th:text="#{dashboard.greet(${username})}">Hello Admin!</h5>
            <h4 th:text="#{dashboard.workers.in.office}">Workers currently in the office</h4>
            <table class="responsive-table striped bordered">
                <thead>
                <tr>
                    <th th:text="#{editor.name}">Name</th>
                    <th th:text="#{editor.email}">Email</th>
                    <th class="valign-wrapper">
                        <i class="material-icons">swap_horiz</i>
                        <span th:text="#{icons.check.out}">Check out</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="worker: ${workersIn}">
                    <td th:text="${worker.getWorker().getName()}">name</td>
                    <td><a th:href="'mailto:'+${worker.getWorker().getEmail()}"
                           th:text="${worker.getWorker().getEmail()}">email</a>
                    </td>
                    <td>
                        <a class="valign-wrapper" th:href="'/checkout/'+${worker.getWorker().getRfId()}">
                            <i class="material-icons">swap_horiz</i>
                            <span th:text="#{icons.check.out}">Check out</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12" th:if="${!actingAdmin && adminMode}">
            <h4 th:text="#{dashboard.workers.waiting}">Workers waiting</h4>

            <table class="responsive-table striped bordered">
                <thead>
                <tr>
                    <th th:text="#{editor.name}">Name</th>
                    <th th:text="#{editor.email}">Email</th>
                    <th class="valign-wrapper">
                        <i class="material-icons">code</i>
                        <span th:text="#{icons.check.in}">Check in</span>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="worker: ${workersWaiting}">
                    <td th:text="${worker.getWorker().getName()}">Name</td>
                    <td><a th:href="'mailto:'+${worker.getWorker().getEmail()}"
                           th:text="${worker.getWorker().getEmail()}">Email</a></td>
                    <td>
                        <a class="valign-wrapper" th:href="'/checkin/'+${worker.getWorker().getRfId()}">
                            <i class="material-icons">code</i>
                            <span th:text="#{icons.check.in}">Check in</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12" th:if="${actingAdmin || !adminMode}">
        <h5 th:text="#{dashboard.greet(${username})}">Hello Worker!</h5>

        <input type="text" class="datepicker" id="sched_picker">
        <div class="row" id="counterContainer">
            <div class="col s12 center">
                <h4 id="counter" class="waiting">&nbsp;</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l6 center" id="workStations" style="display: none">
                <div class="row">
                    <div class="col s12">
                        <h5 th:text="#{building.yourPlace}">Please sit here</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" id="login-place">
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l6 offset-l3" id="calendar">
                <div class="row">
                    <div class="col s12 center">
                        <h5 th:text="#{calendar.select}">Select</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" id="toRenderDatepickerIn"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m3 modal" id="delete-reservation-modal">
    <div class="card-panel modal-content">
        <h5 class="center" id="titleOfModal">Delete ticket</h5>
        <table>
            <tr>
                <td><a id="requestRemoval" th:text="#{users.delete}"
                       class="waves-effect btn-flat">Remove</a></td>
                <td>
                    <a type="submit" class="modal-close waves-effect waves-red btn-flat"
                       onclick="return false;" th:text="#{editor.cancel}">Cancel
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<script th:inline="javascript" th:if="${actingAdmin || !adminMode}">
    /*<!<CDATA[*/
    const ticketNew = /*[[#{ticket.new}]]*/ "New ticket";
    const ticketRegister = /*[[#{ticket.register}]]*/ "Register ticket";
    const ticketCancel = /*[[#{ticket.reset}]]*/ "Reset";
    const ticketDelete = /*[[#{ticket.delete}]]*/ "Delete ticket";
    const reservations = /*[[${reservations}]]*/ [];
    const ticketEnter = /*[[#{ticket.enter}]]*/ "";
    const statusEnter = /*[[#{status.enter}]]*/ "Enter in {0}";
    const calendarChooseDate = /*[[#{calendar.choose.date}]]*/ "Please choose a date!";
    const cannotEnter = /*[[#{status.cannot.enter}]]*/ "You can't enter right now";
    const calendarPastEntry = /*[[#{calendar.past.entry}]]*/ "You could have entered on {0}";
    const calendarFutureEntry = /*[[#{calendar.future.entry}]]*/ "You can enter on {0}";
    const uuid = /*[[${uuid}]]*/ "0";
    const currentIds = /*[[${currentIds}]]*/ [];

    /*]]>*/

    document.getElementById("titleOfModal").innerText = ticketDelete;

    function addOneMonth(dateToAddTo) {
        return new Date((dateToAddTo.getMonth() === 11 ? dateToAddTo.getFullYear() + 1 : dateToAddTo.getFullYear()), (dateToAddTo.getMonth() + 1) % 12, Math.min(dateToAddTo.getDate(), new Date((dateToAddTo.getMonth() === 11 ? dateToAddTo.getFullYear() + 1 : dateToAddTo.getFullYear()), (dateToAddTo.getMonth() + 2) % 12, 0).getDate()));
    }

    function format(fmt, ...args) {
        if (!fmt.match(/^(?:(?:(?:[^{}]|(?:\{\{)|(?:\}\}))+)|(?:\{[0-9]+\}))+$/)) {
            throw new Error('invalid format string.');
        }
        return fmt.replace(/((?:[^{}]|(?:\{\{)|(?:\}\}))+)|(?:\{([0-9]+)\})/g, (m, str, index) => {
            if (str) {
                return str.replace(/(?:{{)|(?:}})/g, m => m[0]);
            } else {
                if (index >= args.length) {
                    throw new Error('argument index is out of range in format');
                }
                return args[index];
            }
        });
    }


    function resize() {
        document.querySelectorAll('.resized').forEach(x => {
            x.style.maxHeight = window.outerHeight;
            x.style.maxWidth = window.outerWidth;
        });
    }

    document.body.onresize = resize;
    $(document).ready(function () {
        resize();
        M.Modal.defaults.preventScrolling = false;
        let picker = document.querySelector('#sched_picker');
        let now = new Date();
        let nextMonth = addOneMonth(now);
        let calendarEvents = [];
        for (let i = 0; i < reservations.length; i++) {
            calendarEvents.push(new Date(reservations[i]).toDateString());
        }
        console.log(calendarEvents);
        M.Datepicker.init(picker,
            {
                format: "yyyy-mm-dd",
                firstDay: 1,
                minDate: now,
                maxDate: nextMonth,
                yearRange: [now.getFullYear(), nextMonth.getFullYear()],
                container: document.querySelector("#toRenderDatepickerIn"),
                i18n:
                    {
                        "done": ticketRegister,
                        "cancel": ticketCancel
                    },
                events: calendarEvents,
                onSelect: function (date) {
                    if (calendarEvents.indexOf(date.toDateString()) !== -1) {
                        document.querySelector("#doneButton").textContent = ticketDelete;
                        document.querySelector("#doneButton").classList.add("red-text");
                    } else {
                        document.querySelector("#doneButton").textContent = ticketRegister;
                        document.querySelector("#doneButton").classList.remove("red-text");
                    }
                    console.log(date);
                }
            }
        );
        let instance = M.Datepicker.getInstance(picker);
        instance.open();
        M.Modal._modalsOpen = 2;
        window.scrollTo(0, 0);
        instance.modal.$overlay.remove();
        instance.doneBtn.setAttribute("id", "doneButton");
        instance.cancelBtn.setAttribute("id", "resetButton");
        instance.cancelBtn.classList.add("blue-text");
        instance.cancelBtn.classList.add("text-darken-1");
        instance.cancelBtn.outerHTML = instance.cancelBtn.outerHTML;
        instance.doneBtn.outerHTML = instance.doneBtn.outerHTML;
        document.querySelector("#resetButton").onclick = function () {
            instance.gotoDate(now);
        };
        document.querySelector("#doneButton").onclick = function () {
            if (instance.toString().length === 0) {
                M.toast({html: calendarChooseDate});
                return;
            }
            if (reservations.indexOf(instance.toString()) !== -1) {
                let modal = $('#delete-reservation-modal');
                modal.modal();
                modal.modal('open');
                document.getElementById("requestRemoval").href = "/cancel?rid=" + uuid + "&date=" + instance.toString();
            } else {
                document.location = "/register?rid=" + uuid + "&date=" + instance.toString();
            }
        };
    });

    let requestTime = function () {
        $.ajax({
            url: "/timeToEnter?rid=" + uuid,
            success: function (result) {
                if (result.status === "OnList") {
                    document.getElementById("workStations").style.display = "none";
                    document.getElementById("counterContainer").style.display = "";
                    document.getElementById("calendar").classList.add("offset-l3");
                    if (result.permittedToEnter) {
                        document.getElementById("counter").innerText = ticketEnter;
                    } else {
                        document.getElementById("counter").innerText = (result.projectedEntryTime === "00:00:00" ? cannotEnter : format(statusEnter, result.projectedEntryTime));
                    }
                    document.getElementById("counter").classList.remove("waiting");
                } else if (result.status === "InOffice") {
                    document.getElementById("workStations").style.display = "";
                    document.getElementById("counterContainer").style.display = "none";
                    document.getElementById("login-place").innerHTML = result.locationSVG;
                    document.getElementById("calendar").classList.remove("offset-l3");
                    document.getElementById(result.workstation.id + "rect").classList.remove("fill-black");
                    document.getElementById(result.workstation.id + "rect").classList.add("ws-occupiable");
                    document.querySelectorAll(".fill-green").forEach(x => {
                        if (x.id !== result.workstation.id + "rect") {
                            x.classList.add("fill-black");
                            x.classList.remove("ws-occupiable");
                        }
                    });
                    $("#counter").removeClass("waiting");
                } else if (result.status === "WorkingFromHome") {
                    document.getElementById("workStations").style.display = "none";
                    document.getElementById("counterContainer").style.display = "none";
                    document.getElementById("calendar").classList.add("offset-l3");
                    document.getElementById("counter").classList.remove("waiting");
                }
            }
        });
    }
    requestTime();
    setInterval(requestTime, 15000);
</script>
</body>
</html>