<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/main.html :: headerfiles" th:remove="tag">
    <title>KiBe</title>
</head>

<body>
<div th:insert="fragments/main.html :: navigation"></div>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12" th:if="${!actingAdmin && adminMode}">
            <h5 th:text="#{dashboard.greet(${username})}">Hello Admin!</h5>
            <h4 th:text="#{dashboard.workers.in.office}">Workers currently in the office</h4>
            <table class="responsive-table striped bordered">
                <thead>
                <tr>
                    <td th:text="#{editor.name}">Name</td>
                    <td th:text="#{editor.email}">Email</td>
                    <td>
                        <i class="material-icons">swap_horiz</i>
                        <span th:text="#{icons.check.out}">Check out</span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="worker: ${workersIn}">
                    <td th:text="${worker.getWorker().getName()}">name</td>
                    <td><a th:href="'mailto:'+${worker.getWorker().getEmail()}"
                           th:text="${worker.getWorker().getEmail()}">email</a>
                    </td>
                    <td>
                        <a th:href="'/checkout/'+${worker.getWorker().getRfId()}">
                            <i class="material-icons">swap_horiz</i>
                            <span th:text="#{icons.check.out}">Check out</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12" th:if="${!actingAdmin && adminMode}">
            <h4 th:text="#{dashboard.workers.waiting}">Workers waiting</h4>

            <table class="responsive-table striped bordered">
                <thead>
                <tr>
                    <td th:text="#{editor.name}">Name</td>
                    <td th:text="#{editor.email}">Email</td>
                    <td>
                        <i class="material-icons">code</i>
                        <span th:text="#{icons.check.in}">Check in</span>
                    </td>

                </tr>
                </thead>
                <tbody>
                <tr th:each="worker: ${workersWaiting}">
                    <td th:text="${worker.getWorker().getName()}">Name</td>
                    <td><a th:href="'mailto:'+${worker.getWorker().getEmail()}"
                           th:text="${worker.getWorker().getEmail()}">Email</a></td>
                    <td>
                        <a th:href="'/checkin/'+${worker.getWorker().getRfId()}">
                            <i class="material-icons">code</i>
                            <span th:text="#{icons.check.in}">Check in</span>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="col s12 m12 l12" th:if="${actingAdmin || !adminMode}">
        <h5 th:text="#{dashboard.greet(${username})}">Hello Worker!</h5>

        <input type="text" class="datepicker" id="sched_picker">
        <div class="row" id="counterContainer">
            <div class="col s12 center">
                <h4 id="counter">&nbsp;</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l6 center" id="workStations">
                <h4 th:text="#{building.yourPlace}">Please sit here</h4>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        id="svg8"
                        class="resized"
                        viewBox="0 0 210 297">
                    <g id="layer1">
                        <path
                                id="path2789"
                                d="m 6.1471992,27.52876 49.5784978,0.133636 0.133633,95.281584 h 46.5049 l -0.13364,-95.147951 h 49.84577 l 0.13363,95.281591 45.56946,0.4009 -0.26727,76.43908 -45.16855,0 v 70.96006 l -51.04848,1.20272 0.13363,-72.02914 H 6.1471992 Z"
                                style="fill:none;stroke:#000000;stroke-width:1.565;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"/>
                        <ellipse cx="26.103981" cy="44.317707" rx="1" ry="1" id="path2793" class="column"/>
                        <ellipse id="path2793-9" ry="1" rx="1" cy="73.185638" cx="26.03311" class="column"/>
                        <ellipse id="path2793-6" ry="1" rx="1" cy="102.10082" cx="26.080357" class="column"/>
                        <ellipse id="path2793-8" ry="1" rx="1" cy="130.87425" cx="26.127604" class="column"/>
                        <ellipse id="path2793-4" ry="1" rx="1" cy="102.05357" cx="122.51153" class="column"/>
                        <ellipse id="path2793-82" ry="1" rx="1" cy="123.7792" cx="122.44286" class="column"/>
                        <ellipse id="path2793-5" ry="1" rx="1" cy="198.343" cx="122.51154" class="column"/>
                        <ellipse id="path2793-81" ry="1" rx="1" cy="222.39175" cx="122.51154" class="column"/>

                        <!--/*@thymesVar id="places" type="org.ajc2020.utility.communication.WorkStationResource[]"*/-->
                        <g th:each="place : ${places}" transform="scale(0.25, 0.25)">
                            <!--/*@thymesVar id="place" type="org.ajc2020.utility.communication.WorkStationResource"*/-->
                            <g
                                    class="workstation"
                                    th:transform="${place.getTransform()}"
                                    th:id="${place.id}">
                                <rect
                                        width="20"
                                        height="12"
                                        class="workplace fill-black"
                                        th:id="${place.id} + 'rect'"
                                        x="-10"
                                        y="5"/>
                                <path
                                        th:style="'fill:#000000;fill-opacity:0.345382;stroke:#000000;stroke-width:0.3;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1'"
                                        th:id="${place.id} + 'chair'"
                                        d="M0 2 L-2.5 -2 L2.5 -2 Z"/>
                            </g>

                        </g>
                        <rect y="29.055113" x="35.041462" height="11.503038" width="19.347887" id="rect4488"
                              class="restricted"/>
                        <rect id="rect4490" width="18.281523" height="10.944996" x="7.4989252" y="70.543571"
                              class="restricted"/>
                        <rect id="rect4492" width="17.781469" height="14.401464" x="132.88309" y="29.04755"
                              class="restricted"/>
                        <rect y="124.0565" x="132.23834" height="17.984049" width="21.831776" id="rect4494"
                              class="restricted"/>
                        <rect id="rect4496" width="24.564068" height="51.085953" x="7.2851453" y="147.73283"
                              class="restricted"/>
                        <rect y="124.27596" x="31.555872" height="14.370269" width="15.629634" id="rect4498"
                              class="restricted"/>
                        <rect id="rect4500" width="60.639816" height="24.512148" x="31.9282" y="147.81181"
                              class="restricted"/>
                        <rect y="147.84087" x="100.46545" height="24.454029" width="91.197769" id="rect4502"
                              class="restricted"/>
                        <rect id="rect4504" width="11.672786" height="14.250654" x="139.19159" y="177.81427"
                              class="restricted"/>
                        <rect y="192.06493" x="130.05791" height="15.656054" width="20.806471" id="rect4506"
                              class="restricted"/>
                        <rect id="rect4508" width="11.833088" height="12.816936" x="69.216408" y="185.70984"
                              class="restricted"/>
                        <rect y="186.01071" x="31.858076" height="12.799209" width="17.485004" id="rect4510"
                              class="restricted"/>
                        <rect id="rect4512" width="18.84013" height="11.968594" x="103.67917" y="71.528969"
                              class="restricted"/>
                        <rect y="124.27596" x="47.185505" height="17.221645" width="69.833839" id="rect4514"
                              class="restricted"/>
                    </g>
                </svg>
            </div>
            <div class="col s12 m12 l6 offset-l3" id="calendar">
                <div class="row">
                    <div class="col s12 center">
                        <h5 th:text="#{calendar.select}"></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" id="toRenderDatepickerIn"></div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" th:src="@{js/materialize.min.js}" src="../static/js/materialize.min.js"></script>
<script th:inline="javascript" th:if="${actingAdmin || !adminMode}">
    /*<!<CDATA[*/
    const ticketNew = /*[[#{ticket.new}]]*/ "New ticket";
    const ticketRegister = /*[[#{ticket.register}]]*/ "Register ticket";
    const ticketCancel = /*[[#{ticket.reset}]]*/ "Reset";
    const ticketDelete = /*[[#{ticket.delete}]]*/ "Delete ticket";
    const reservations = /*[[${reservations}]]*/ [];
    const ticketEnter = /*[[#{ticket.enter}]]*/ "";
    const statusEnter = /*[[#{status.enter}]]*/ "Enter in {0}";
    const calendarChooseDate = /*[[#{calendar.choose.date}]]*/ "Please choose a date!";
    const calendarPastEntry = /*[[#{calendar.past.entry}]]*/ "You could have entered on {0}";
    const calendarFutureEntry = /*[[#{calendar.future.entry}]]*/ "You can enter on {0}";
    const uuid = /*[[${uuid}]]*/ "0";

    /*]]>*/

    function addOneMonth(dateToAddTo) {
        return new Date((dateToAddTo.getMonth() === 11 ? dateToAddTo.getFullYear() + 1 : dateToAddTo.getFullYear()), (dateToAddTo.getMonth() + 1) % 12, Math.min(dateToAddTo.getDate(), new Date((dateToAddTo.getMonth() === 11 ? dateToAddTo.getFullYear() + 1 : dateToAddTo.getFullYear()), (dateToAddTo.getMonth() + 2) % 12, 0).getDate()));
    }

    function format(fmt, ...args) {
        if (!fmt.match(/^(?:(?:(?:[^{}]|(?:\{\{)|(?:\}\}))+)|(?:\{[0-9]+\}))+$/)) {
            throw new Error('invalid format string.');
        }
        return fmt.replace(/((?:[^{}]|(?:\{\{)|(?:\}\}))+)|(?:\{([0-9]+)\})/g, (m, str, index) => {
            if (str) {
                return str.replace(/(?:{{)|(?:}})/g, m => m[0]);
            } else {
                if (index >= args.length) {
                    throw new Error('argument index is out of range in format');
                }
                return args[index];
            }
        });
    }


    function resize() {
        document.querySelectorAll('.resized').forEach(x => {
            x.style.maxHeight = window.outerHeight;
            x.style.maxWidth = window.outerWidth;
        });
    }

    document.body.onresize = resize;
    $(document).ready(function () {
        resize();
        M.Modal.defaults.preventScrolling = false;
        let picker = document.querySelector('#sched_picker');
        let now = new Date();
        let nextMonth = addOneMonth(now);
        let calendarEvents = [];
        for (let i = 0; i < reservations.length; i++) {
            calendarEvents.push(new Date(reservations[i]).toDateString());
        }
        console.log(calendarEvents);
        M.Datepicker.init(picker,
            {
                format: "yyyy-mm-dd",
                firstDay: 1,
                minDate: now,
                maxDate: nextMonth,
                yearRange: [now.getFullYear(), nextMonth.getFullYear()],
                container: document.querySelector("#toRenderDatepickerIn"),
                i18n:
                    {
                        "done": ticketRegister,
                        "cancel": ticketCancel
                    },
                events: calendarEvents,
                onSelect: function (date) {
                    if (calendarEvents.indexOf(date.toDateString()) !== -1) {
                        document.querySelector("#doneButton").textContent = ticketDelete;
                    } else {
                        document.querySelector("#doneButton").textContent = ticketRegister;
                    }
                    console.log(date);
                }
            }
        );
        let instance = M.Datepicker.getInstance(picker);
        instance.open();
        M.Modal._modalsOpen = 0;
        window.scrollTo(0, 0);
        instance.modal.$overlay.remove();
        instance.doneBtn.setAttribute("id", "doneButton");
        instance.cancelBtn.setAttribute("id", "resetButton");
        instance.cancelBtn.outerHTML = instance.cancelBtn.outerHTML;
        instance.doneBtn.outerHTML = instance.doneBtn.outerHTML;
        document.querySelector("#resetButton").onclick = function () {
            instance.gotoDate(now);
        };
        document.querySelector("#doneButton").onclick = function () {
            if (instance.toString().length === 0) {
                M.toast({html: calendarChooseDate});
                return;
            }
            if (reservations.indexOf(instance.toString()) !== -1) {
                document.location = "/cancel?rid=" + uuid + "&date=" + instance.toString();
            } else {
                document.location = "/register?rid=" + uuid + "&date=" + instance.toString();
            }
        };
    });

    /*
    var runCountdown = true;
    var expectedTimeStamp = 0;

    setInterval(function () {
        var now = new Date();
        if (!runCountdown)
            return;
        if (expectedTimeStamp === 0) {
            document.getElementById("counter").innerHTML = "&nbsp;";
            return;
        }
        let expected = new Date(expectedTimeStamp);
        if (now.toDateString() === expected.toDateString()) {
            if (now >= expected) {
                document.getElementById("counter").innerText = ticketEnter;
            } else {
                let remaining = (Date.parse(expected) - Date.parse(now)) / 1000;
                let hour = (remaining - (remaining % 3600)) / 3600;
                remaining -= hour * 3600;
                let min = (remaining - (remaining % 60)) / 60;
                let sec = remaining % 60;
                let enterTime = ("0" + hour).slice(-2) + ":" + ("0" + min).slice(-2) + ":" + ("0" + sec).slice(-2);
                document.getElementById("counter").innerText = format(statusEnter, enterTime);
            }
        } else {
            if (now > expected) {
                document.getElementById("counter").innerText = format(calendarPastEntry, expected.toLocaleDateString("en-US"));
            } else {
                document.getElementById("counter").innerText = format(calendarFutureEntry, expected.toLocaleDateString("en-US"));
            }
        }
    }, 1000);

    function getDate(fromdate) {
        let temp = fromdate.split(":");
        return (parseInt(temp[0]) * 3600 + parseInt(temp[1]) * 60 + parseInt(temp[2])) * 1000;
    }*/

    let requestTime = function () {
        $.ajax({
            url: "/timeToEnter?rid=" + uuid,
            success: function (result) {
                /*runCountdown = (result.status === "OnList");
                expectedTimeStamp = new Date().getTime() + getDate(result.projectedEntryTime);*/
                if (result.status === "OnList") {
                    document.getElementById("workStations").style.display = "none";
                    document.getElementById("counterContainer").style.display = "";
                    document.getElementById("calendar").classList.add("offset-l3");
                    document.getElementById("counter").innerText = format(statusEnter, result.projectedEntryTime);
                } else if (result.status === "InOffice") {
                    document.getElementById("workStations").style.display = "";
                    document.getElementById("counterContainer").style.display = "none";
                    document.getElementById("calendar").classList.remove("offset-l3");
                    document.getElementById(result.workstation.id + "rect").classList.remove("fill-black");
                    document.getElementById(result.workstation.id + "rect").classList.add("fill-green");
                    document.querySelectorAll(".fill-green").forEach(x => {
                        if (x.id !== result.workstation.id + "rect") {
                            x.classList.add("fill-black");
                            x.classList.remove("fill-green");
                        }
                    });
                } else if (result.status === "WorkingFromHome") {
                    document.getElementById("workStations").style.display = "none";
                    document.getElementById("counterContainer").style.display = "none";
                    document.getElementById("calendar").classList.add("offset-l3");
                }
            }
        });
    }
    requestTime();
    setInterval(requestTime, 15000);
</script>
</body>
</html>