<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/main.html :: headerfiles" th:remove="tag">
    <title>KiBe</title>
</head>

<body>
<div th:insert="fragments/main.html :: navigation"></div>
<div class="container">
<div class="row">
    <h5 th:text="#{users.users}">Workers</h5>
        <table class="responsive-table striped bordered">
            <thead>
            <tr>
                <td th:text="#{users.uuid}">uuid</td>
                <td th:text="#{users.name}">name</td>
                <td th:text="#{users.email}">email</td>
                <td th:text="#{users.rfid}">rfid</td>
                <td th:text="#{users.password}">password</td>
                <td class="center"><i class="material-icons" th:title="#{icons.check.in.out}">swap_horiz</i><br/><span
                        th:text="#{icons.check.in.out}">Check
                    in / Check out</span>
                </td>
                <td class="center"><i class="material-icons"
                                      th:title="#{icons.reservations}">verified_user</i><br/><span
                        th:text="#{icons.reservations}">Reservations</span>
                </td>
                <td class="center"><i class="material-icons" th:title="#{icons.delete}">delete_forever</i><br/><span
                        th:text="#{users.delete}">Delete</span>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}">uuid</td>
                <td><a href="#" th:text="${user.getName()}"
                       th:onclick="editUserName([[${user.getId()}]], [[${user.getName()}]])">John Doe</a></td>
                <td><a href="#" th:text="${user.getEmail()}"
                       th:onclick="editUserEmail([[${user.getId()}]], [[${user.getEmail()}]])">john.doe@kibe</a></td>
                <td><a href="#" th:text="${user.getRfId()}"
                       th:onclick="editUserRfid([[${user.getId()}]], [[${user.getRfId()}]])">36324743743747</a></td>
                <td><a href="#" th:text="#{users.change.password}"
                       th:onclick="editUserPassword([[${user.getId()}]])">Change password</a>
                </td>

                <td th:switch="${user.getStatus()}">
                    <a th:case="${T(org.ajc2020.utility.resource.WorkerStatus).InOffice}" th:href="'/checkout/'+${user.getRfId()}">
                        <i class="material-icons">swap_horiz</i>
                        <span th:text="#{icons.check.out}">Check out</span>
                    </a>
                    <a th:case="*" th:href="'/checkin/'+${user.getRfId()}">
                        <i class="material-icons">code</i>
                        <span th:text="#{icons.check.in}">Check in</span>
                    </a>
                </td>

                <td><a th:href="'/userview?rid='+${user.getId()}"><i class="material-icons" th:title="#{icons.reservations}">verified_user</i>
                    <span th:text="#{icons.reservations}">reservations</span></a>
                </td>
                <td><a th:href="${'/deleteUser/'+user.getId()}"><i class="material-icons" th:title="#{icons.delete}">delete_forever</i><span
                        th:text="#{users.delete}">Delete</span></a></td>
            </tr>
            </tbody>
        </table>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <button data-target="create-user-modal" class="btn modal-trigger" th:text="#{users.new.user}">Create
            user
        </button>
    </div>
</div>
</div>
<div class="col s12 m3 modal" id="edit-user-modal">
    <div class="card-panel modal-content">
        <form action="/updateUser" method="post">
            <input type="hidden" id="edit.user.uuid" name="edit.user.uuid">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>

            <h5 class="center" th:text="#{edit.worker}">Edit Worker</h5>
            <table>
                <tr id="edit.user.name.row">
                    <td><label for="edit.user.name" th:text="#{editor.name}">Name:</label></td>
                    <td><input id="edit.user.name" name="edit.user.name"></td>
                </tr>
                <tr id="edit.user.email.row">
                    <td><label for="edit.user.email" th:text="#{editor.email}">Email:</label></td>
                    <td><input id="edit.user.email" name="edit.user.email"></td>
                </tr>
                <tr id="edit.user.rfid.row">
                    <td><label for="edit.user.rfid" th:text="#{editor.rfid}">RFID:</label></td>
                    <td><input id="edit.user.rfid" name="edit.user.rfid"></td>
                </tr>
                <tr id="edit.user.password.row">
                    <td><label for="edit.user.password" th:text="#{editor.password}">Password:</label></td>
                    <td><input id="edit.user.password" type="password" name="edit.user.password"></td>
                </tr>
                <tr id="edit.user.password.confirm.row">
                    <td><label for="edit.user.password.confirm" th:text="#{editor.password.confirm}">Password:</label>
                    </td>
                    <td><input id="edit.user.password.confirm" type="password" name="edit.user.password.confirm"></td>
                </tr>

                <tr>
                    <td><input type="submit" th:value="#{editor.save}" value="Submit" class="btn-flat"></td>
                    <td>
                        <button type="submit" class="modal-close waves-effect waves-green btn-flat"
                                data-target="edit-user-modal" onclick="return false;" th:text="#{editor.cancel}">Cancel
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="col s12 m3 modal" id="create-user-modal">
    <div class="card-panel modal-content">
        <form action="/createUser" method="post">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>

            <h5 class="center" th:text="#{create.worker}">Create Worker</h5>
            <table class="responsive-table striped bordered">
                <tr>
                    <td><label for="create.user.name" th:text="#{editor.name}">Name:</label></td>
                    <td><input id="create.user.name" name="create.user.name"></td>
                </tr>
                <tr>
                    <td><label for="create.user.email" th:text="#{editor.email}">Email:</label></td>
                    <td><input id="create.user.email" name="create.user.email"></td>
                </tr>
                <tr>
                    <td><label for="create.user.password" th:text="#{editor.password}">Password:</label></td>
                    <td><input id="create.user.password" type="password" name="create.user.password"></td>
                </tr>
                <tr>
                    <td><label for="create.user.password.confirm" th:text="#{editor.password.confirm}">Password:</label>
                    </td>
                    <td><input id="create.user.password.confirm" type="password" name="create.user.password.confirm">
                    </td>
                </tr>
                <tr>
                    <td><label for="create.user.rfid" th:text="#{editor.rfid}">RFID:</label></td>
                    <td><input id="create.user.rfid" name="create.user.rfid"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" th:value="#{editor.create}" class="btn-flat"></td>
                    <td>
                        <button type="submit" class="modal-close waves-effect waves-green btn-flat"
                                data-target="edit-user-modal" onclick="return false;" th:text="#{editor.cancel}">Cancel
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{js/materialize.min.js}" src="../static/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });

    function clearUserForm() {
        $('#edit\\.user\\.uuid').val("");

        $('#edit\\.user\\.name').val("");
        $('#edit\\.user\\.name\\.row').hide();

        $('#edit\\.user\\.email').val("");
        $('#edit\\.user\\.email\\.row').hide();

        $('#edit\\.user\\.rfid').val("");
        $('#edit\\.user\\.rfid\\.row').hide();

        $('#edit\\.user\\.password').val("");
        $('#edit\\.user\\.password\\.row').hide();

        $('#edit\\.user\\.password\\.confirm').val("");
        $('#edit\\.user\\.password\\.confirm\\.row').hide();
    }


    function editUserName(uuid, oldName) {
        clearUserForm();
        let modal = $('#edit-user-modal');
        $('#edit\\.user\\.name').val(oldName);
        $('#edit\\.user\\.name\\.row').show();
        $('#edit\\.user\\.uuid').val(uuid);
        modal.modal();
        modal.modal('open');
    }

    function editUserEmail(uuid, oldName) {
        clearUserForm();
        let modal = $('#edit-user-modal');
        $('#edit\\.user\\.email').val(oldName);
        $('#edit\\.user\\.email\\.row').show();
        $('#edit\\.user\\.uuid').val(uuid);
        modal.modal();
        modal.modal('open');
    }

    function editUserRfid(uuid, oldName) {
        clearUserForm();
        let modal = $('#edit-user-modal');
        $('#edit\\.user\\.rfid').val(oldName);
        $('#edit\\.user\\.rfid\\.row').show();
        $('#edit\\.user\\.uuid').val(uuid);
        modal.modal();
        modal.modal('open');
    }

    function editUserPassword(uuid) {
        clearUserForm();
        let modal = $('#edit-user-modal');
        $('#edit\\.user\\.password').val("");
        $('#edit\\.user\\.password\\.row').show();
        $('#edit\\.user\\.password\\.row').val("");
        $('#edit\\.user\\.password\\.confirm\\.row').show();
        $('#edit\\.user\\.uuid').val(uuid);
        modal.modal();
        modal.modal('open');
    }

</script>
</body>
</html>