.custom-non-hover-anim {
    color: rgba(0, 0, 0, 0.6);
}

.custom-non-hover-anim:hover {
    color: rgba(0, 0, 0, 1);
}

body {
    background-color: #f2f2f2;
}

#loader {
    padding: 0;
    display: none;
}

.progress {
    margin: 0;
}

.tabs .indicator {
    background-color: #536dfe;
}

.tabs .tab a.active, .tabs .tab a:hover, .tabs .tab a:focus, .tabs .tab a {
    background-color: #FFF !important;
    color: #3d5afe;
}

.tabs .indicator {
    background-color: #536dfe;
}

.abcRioButton.abcRioButtonLightBlue {
    width: fit-content !important;
}

table.striped > tbody > tr:hover:nth-child(odd) {
    background-color: rgba(98, 163, 194, 0.5);
}

table.striped > tbody > tr:hover:nth-child(even) {
    background-color: rgba(116, 200, 226, 0.5);
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(199, 199, 199, 0.5);
}

table.striped > tbody > tr:nth-child(even) {
    background-color: rgba(220, 220, 220, 0.5);
}

#sched_picker{
    display: none;
}
.datepicker-modal{
    width: 100% !important;
    position: initial !important;
    box-shadow: initial !important;
    -webkit-box-shadown: initial !important;
}
#errorMessage{
    color: red;
}