<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/main.html :: headerfiles">
    <title>KiBe</title>
</head>

<body class="container">

<div class="row">
    <div class="col s12 m12 l12" th:insert="fragments/main.html :: navigation">
    </div>
    <div class="col s12 m12 l12" th:if="${adminMode}">
        <h5 th:text="#{dashboard.greet(${username})}">Hello Admin!</h5>
    </div>
    <div class="col s12 m12 l12" th:if="!${adminMode}">
        <h5 th:text="#{dashboard.greet(${username})}">Hello Worker!</h5>
        <h6 th:text="#{ticket.new}">New ticket</h6>
        <form action="/register" method="get" >
            <input type="date" name="date">
            <input type="hidden" name="uuid" th:value="${uuid}">
            <input type="submit" value="Register" th:value="#{ticket.register}">
        </form>
        <h6 th:text="#{ticket.delete}">Delete ticket</h6>
        <form action="/cancel" method="get" >
            <input type="date" name="date">
            <input type="hidden" name="uuid" th:value="${uuid}">
            <input type="submit" value="Cancel" th:value="#{ticket.cancel}">
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}" src="../static/js/materialize.min.js"></script>

</body>
</html>