<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/main.html :: headerfiles" th:remove="tag">
    <title>KiBe</title>
</head>

<body class="container">

<div class="row">
    <div class="col s12 m12 l12" th:insert="fragments/main.html :: navigation">
    </div>
    <div class="col s12 m12 l12" th:if="${!actingAdmin && adminMode}">
        <h5 th:text="#{dashboard.greet(${username})}">Hello Admin!</h5>
    </div>
    <div class="col s12 m12 l12" th:if="${actingAdmin || !adminMode}">
        <h5 th:text="#{dashboard.greet(${username})}">Hello Worker!</h5>

        <input type="text" class="datepicker" id="sched_picker">
        <div class="row">
            <div class="col s12 center">
                <h4 id="counter">&nbsp;</h4>
            </div>
        </div>
        <div>
            <div class="col s12 center">
                <h5 id="errorMessage">&nbsp;</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h5 th:text="#{calendar.select}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="toRenderDatepickerIn"></div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}" src="../static/js/materialize.min.js"></script>
<script th:inline="javascript" th:if="${actingAdmin || !adminMode}">
    /*<!<CDATA[*/
    const ticketNew = /*[[#{ticket.new}]]*/ "New ticket";
    const ticketRegister = /*[[#{ticket.register}]]*/ "Register ticket";
    const ticketCancel = /*[[#{ticket.reset}]]*/ "Reset";
    const ticketDelete = /*[[#{ticket.delete}]]*/ "Delete ticket";
    const reservations = /*[[${reservations}]]*/ [];
    const ticketEnter = /*[[#{ticket.enter}]]*/ "";
    const statusEnter = /*[[#{status.enter}]]*/ "Enter in {0}";
    const calendarChooseDate = /*[[#{calendar.choose.date}]]*/ "Please choose a date!";
    const calendarPastEntry = /*[[#{calendar.past.entry}]]*/ "You could have entered on {0}";
    const calendarFutureEntry = /*[[#{calendar.future.entry}]]*/ "You can enter on {0}";
    const uuid = /*[[${uuid}]]*/ "0";
    /*]]>*/

    function addOneMonth(dateToAddTo){
        return new Date((dateToAddTo.getMonth() === 11 ? dateToAddTo.getFullYear() + 1 : dateToAddTo.getFullYear()), (dateToAddTo.getMonth() + 1) % 12, Math.min(dateToAddTo.getDate(), new Date((dateToAddTo.getMonth() === 11 ? dateToAddTo.getFullYear() + 1 : dateToAddTo.getFullYear()), (dateToAddTo.getMonth() + 2) % 12, 0).getDate()));
    }

    function format(fmt, ...args) {
        if (!fmt.match(/^(?:(?:(?:[^{}]|(?:\{\{)|(?:\}\}))+)|(?:\{[0-9]+\}))+$/)) {
            throw new Error('invalid format string.');
        }
        return fmt.replace(/((?:[^{}]|(?:\{\{)|(?:\}\}))+)|(?:\{([0-9]+)\})/g, (m, str, index) => {
            if (str) {
                return str.replace(/(?:{{)|(?:}})/g, m => m[0]);
            } else {
                if (index >= args.length) {
                    throw new Error('argument index is out of range in format');
                }
                return args[index];
            }
        });
    }


    $(document).ready(function(){
        M.Modal.defaults.preventScrolling=false;
        let picker = document.querySelector('#sched_picker');
        let now = new Date();
        let nextMonth = addOneMonth(now);
        let calendarEvents = [];
        for (let i = 0; i < reservations.length; i++) {
            calendarEvents.push(new Date(reservations[i]).toDateString());
        }
        console.log(calendarEvents);
        M.Datepicker.init(picker,
            {
                format: "yyyy-mm-dd",
                firstDay : 1,
                minDate: now,
                maxDate: nextMonth,
                yearRange: [now.getFullYear(), nextMonth.getFullYear()],
                container: document.querySelector("#toRenderDatepickerIn"),
                i18n:
                    {
                        "done": ticketRegister,
                        "cancel": ticketCancel
                    },
                events: calendarEvents,
                onSelect: function(date) {
                    if (calendarEvents.indexOf(date.toDateString()) !== -1) {
                        document.querySelector("#doneButton").textContent = ticketDelete;
                    } else {
                        document.querySelector("#doneButton").textContent = ticketRegister;
                    }
                    console.log(date);
                }
            }
        );
        let instance = M.Datepicker.getInstance(picker);
        instance.open();
        instance.modal.$overlay.remove();
        instance.doneBtn.setAttribute("id", "doneButton");
        instance.cancelBtn.setAttribute("id", "resetButton");
        instance.cancelBtn.outerHTML = instance.cancelBtn.outerHTML;
        instance.doneBtn.outerHTML = instance.doneBtn.outerHTML;
        document.querySelector("#resetButton").onclick = function(){instance.gotoDate(now);};
        document.querySelector("#doneButton").onclick = function(){
            if(instance.toString().length === 0){
                M.toast({html: calendarChooseDate});
                return;
            }
            if (reservations.indexOf(instance.toString()) !== -1) {
                document.location = "/cancel?rid=" + uuid + "&date="+instance.toString();
            } else {
                document.location = "/register?rid=" + uuid + "&date="+instance.toString();
            }
        };
    });

    var runCountdown = true;
    var expectedTimeStamp = 0;

    setInterval(function(){
        var now = new Date();
        if(!runCountdown)
            return;
        if(expectedTimeStamp === 0){
            document.getElementById("counter").innerHTML = "&nbsp;";
            return;
        }
        let expected = new Date(now.toISOString().split('T')[0] + "T" + expectedTimeStamp + "Z")
        if(now.toDateString() === expected.toDateString()){
            if(now >= expected){
                document.getElementById("counter").innerText = ticketEnter;
            }else{
                let remaining = (Date.parse(expected) - Date.parse(now)) / 1000;
                let hour = (remaining - (remaining % 3600)) / 3600;
                remaining -= hour * 3600;
                let min = (remaining - (remaining % 60)) / 60;
                let sec = remaining % 60;
                let enterTime =("0" + hour).slice(-2) + ":" + ("0" + min).slice(-2) + ":" + ("0" + sec).slice(-2);
                document.getElementById("counter").innerText = format(statusEnter, enterTime);
            }
        }else{
            if(now > expected){
                document.getElementById("counter").innerText = format(calendarPastEntry, expected.toLocaleDateString("en-US"));
            }else{
                document.getElementById("counter").innerText = format(calendarFutureEntry, expected.toLocaleDateString("en-US"));
            }
        }
    }, 1000);

    let requestTime = function(){
        $.ajax({
            url: "/timeToEnter?rid="+uuid,
            success: function (result) {
                expectedTimeStamp = result.projectedEntryTime;
            }
        });
    }

    requestTime();

    setInterval(requestTime, 15000);
</script>
</body>
</html>